body {
	background-image: url("../images/concrete_seamless.png");
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
	color: #4aaaa5 ;
	font-family: font-family: "Georgia", Times, Times New Roman, serif;
}


#name {
	background-color: #4aaaa5;
	font-family: font-family: "Georgia", Times, Times New Roman, serif;
	color: #ffffff;
	height: 50px;
	width: 175px;
	text-align: center;
    vertical-align: middle;
    line-height: 50px;
    position: relative;
    left:100px;
}

#navBar {
	
	background-color: #ffffff;
	margin-left: auto ;
	margin-right: auto ;
	position: relative;
	top:-25px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    float: right;
    position: relative;
    top:-70px;
    right:100px;
}

li {

	float: right;
	
}

.border {
	border-right: solid;
	border-color: black;
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
 }

#aboutMe {
	
	position: relative;
	left: 100px;
	width: 700px;
	height: 400px;
	padding: 15px;
	background-color: #ffffff;
	display: block;
	border: solid;
    border-width: 1px;
    border-color: #dddddd;

}

.aboutMeText {

	margin: 10px;
	position: inline;
}



#connectWithMe {
	
	height: 200px;
	width: 350px;
	float: right;
	background-color: #ffffff;
	display: block;
	position: relative;
	top: -430px;
	right: 250px;
	text-align: center;
    vertical-align: middle;
    line-height: 50px;
    padding: 15px;
    border: solid;
    border-width: 1px;
    border-color: #dddddd;
}

#connectWithMe2 {

	height: 200px;
	width: 350px;
	float: right;
	background-color: #ffffff;
	display: block;
	position: relative;
	top: -532px;
	right: 250px;
	text-align: center;
    vertical-align: middle;
    line-height: 50px;
    padding: 15px;
    border: solid;
    border-width: 1px;
    border-color: #dddddd;


}

#connectWithMe3 {
	height: 200px;
	width: 350px;
	float: right;
	background-color: #ffffff;
	display: block;
	position: relative;
	top: -681px;
	right: 250px;
	text-align: center;
    vertical-align: middle;
    line-height: 50px;
    padding: 15px;
    border: solid;
    border-width: 1px;
    border-color: #dddddd;
}


#Daniel {
	float: left;

}

.aboutMeText {
	padding: 10px;
	


}

#copyright {
	background-color: #666666;
    position: relative;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    overflow:hidden;
	border-top: solid;
	border-top-color: #4aaaa5;
	border-top-width: 15px;

}

#copyrightText {
	position: relative;
	left: 670px;
	bottom: -25px;
}	


input[type=text], select, textarea {
    width: 100%; 
    
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.container {
    background-color: #ffffff;
    padding: 15px;
    height: 500px;
    width: 700px;
    position: relative;
	left: 100px;
	border: solid;
    border-width: 1px;
    border-color: #dddddd;
}

#portfolioProjects {
	background-color: #ffffff;
	position: relative;
	left: 100px;
	width: 700px;
	height: 650px;
	padding: 15px;
	display: block;
	border: solid;
    border-width: 1px;
    border-color: #dddddd;

}

#portfolioProjectsItems {
	display: inline;
}

.portfolioPics {
	height: 150px;
	width: 300px;
	margin: 0;
	padding: 0;
}

.portfolioText {
	background-color: #4aaaa5;
	color: #ffffff;
	width:300px;
	position: relative;
    top: -64px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px; 
    margin: 0;
    padding: 0;

}

#hangman {
	position: relative;
	left: 18px;
	top: 9px;
}

#rpgGame {
	position: relative;
	top: -177px;
	left: 373px;
}

#triviaGame {
	position: relative;
	top: -175px;
	left: 18px;

}

#rutgersInfo {
	position: relative;
	top: -360px;
	left: 373px;

}

#rockPaperScissors {
	position: relative;
	top: -360px;
	left: 18px;
}

a {
	text-decoration: none;
}